# Elastic Beanstalk configuration files.
# This root directory is the default for Elastic Beanstalk EC2 instances and
# AWSEBAutoScalingGroup, and AWSEBLoadBalancer

# .ebextensions/00_web.config

files:
  "/var/pids/web.pid":
    mode: "000755"
    owner: root
    group: root
    content: |
      # This file will be created by the web server
container_commands:
  01_restart_web_server:
    command: "sudo systemctl restart nginx"
