# Elastic Beanstalk configuration files.
# This root directory is the default for Elastic Beanstalk EC2 instances and
# AWSEBAutoScalingGroup, and AWSEBLoadBalancer

# .ebextensions/00_web.config

files:
  "/var/pids/web.pid":
    mode: "000755"
    owner: root
    group: root
    content: |
      # This file will be created by the web server
      #!/bin/bash
      cd /var/app/current
      nohup npm run start &
container_commands:
  00_install_dependencies:
    command: "npm install"
  01_build_application:
    command: "npm run build"
  02_start_application:
    command: "nohup npm run start &"
  03_restart_web_server:
    command: "sudo systemctl restart nginx"
  04_associate_elastic_ip:
    command: |
      # Variables
      EIP_ALLOCATION_ID="eipalloc-0257480a97665b382"  # Elastic IP allocation ID
      REGION="ap-northeast-2"  # 리전

      # AWS CLI 설치
      if ! command -v aws &> /dev/null; then
          sudo apt-get update
          sudo apt-get install -y awscli
      fi

      # 인스턴스 ID 가져오기
      INSTANCE_ID=$(curl http://169.254.169.254/latest/meta-data/instance-id)

      # Elastic IP 연결
      aws ec2 associate-address --instance-id $INSTANCE_ID --allocation-id $EIP_ALLOCATION_ID --region $REGION