# Elastic Beanstalk configuration files.
# This root directory is the default for Elastic Beanstalk EC2 instances and
# AWSEBAutoScalingGroup, and AWSEBLoadBalancer

# .ebextensions/00_web.config

option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  PORT
    value:  3333
    